<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<body>
<div class="container">
    <div class="form">
        <form method="POST" th:action="@{/user/signup}" th:object="${userSignup}" id="signup-form">
            <h2>Create account</h2>
            <div>
                <input th:field="*{firstname}" id="firstname" placeholder="Firstname"/>
                <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" ></span>

            </div>
            <div>
                <input th:field="*{lastname}"   id="lastname" placeholder="lastname" type="text"/>

                <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" ></span>
            </div>

            <div>
                <input th:field="*{username}" id="username" placeholder="username" type="text"/>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></span>
            </div>

            <div>
                <input th:field="*{email}"   id="email" placeholder="email" type="text"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></span>
            </div>

            <div>
                <input th:field="*{password}"   id="password" placeholder="password" type="password"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></span>
            </div>

            <div>
                <input th:field="*{repassword}"   id="password2" placeholder="re-enter password" type="password"/>
                <span th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}" ></span>
            </div>

            <div>
                <label for="YoE">Years of experience of coding:</label>
                <select id="YoE" th:field="*{yearsOfExperience}">
                    <option th:value="'1-2'">1-2</option>
                    <option th:value="'2-4'">2-4</option>
                    <option th:value="'4+'">4+</option>
                </select>
            </div>


            <button type="submit" >Sign Up</button>
        </form>

    </div> <br> <br>
    <a th:href="@{/}">Click to go back to the home page</a>
</div>

</body>
</html>