<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css\home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <section id="id" class="home">
        <header>
            <a href="#"><img src=" " alt="LOGO"></a>
            <ul class="menu">
                <li><a href="">About</a></li>
                <li><a href="">Feed</a></li>
                <li><a href="">Account</a></li>
                <li><a href="">Settings</a></li>
                <li><a href="">Log Out</a></li>
            </ul>
        </header>

        <div class="title">
            <h1 class="title-name">stepping outside the comfort zone to code with others.</h1>
            <h2 class="title-desc">... allows you to pair with like-minded individuals where you will have 10 weeks to plan and code anything , having the chance to secure an internship , spring week or many more items. </h2>
            <h2>click below to join for free!</h2>
        </div>

        <div class="title-buttons">
            <button type="button" class="btn btn-primary btn-lg round">JOIN HERE</button>

        </div>
    </section>
    <section id="about-us" class="about-us">
        <div class="about-us-title">
            <h1>About Us</h1>
        </div>
        <div class="about-us-main">
            <div class="about-us-left">
                <h2>How We Started</h2>
                <ul>
                    <li>I identified that when Computer Science Students first joined university they had a lack of personal projects </li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
            <div class="about-us-right">
                <h2>How We Can Help You</h2>
                <ul>
                    <li>We can help you prepare for interviews with projects recruiters will like</li>
                    <li>Working with someone new to plan and code will help boost confidence and tackle imposter syndrome</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="roadmap" class="roadmap">
        <div class="container">
            <p>Hello</p>
            <div class="row">
                <div class="col-sm-12">
                    <h1> Hello</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="" class=""></section>
    <section id="sponsors" class="sponsors"></section>

</body>
</html>

